.page-cctv {
	.hero.hero-cctv {
		position: relative;

		.slider {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #000;

			.slide {
				position: absolute;
				display: block;
				opacity: 0;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;

				&.active {
					opacity: 1;
				}
			}

			.slide-1 {
				@include darken-image('https://images.unsplash.com/photo-1529490738614-4a83c19ed6b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80', .9);
				background-attachment: fixed;
			}
		}


		.container {
			position: relative;

			.logo {
				display: block;
				width: 200px;
				margin: 0 auto;
			}

			.main-nav {
				text-align: center;
				margin-top: 70px;

				li {
					display: inline-block;

					a {
						text-transform: uppercase;
						color: rgba(255, 255, 255, .5);
						font-size: 1.8em;
						text-decoration: none;
						padding: 0 15px;

						&.active {
							color: #fff;
						}

						&:hover {
							color: #fff;
							transition: all 1s;
						}
					}
				}
			}

			.social, .details {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				text-align: center;

				li {
					display: inline-block;

					a {
						color: rgba(255, 255, 255, .5);
						font-size: 1.8em;
						padding: 0 15px;
						text-decoration: none;

						&:hover {
							color: #fff;
							transition: all 1s;
						}

						&:last-of-type {
							padding-right: 0;
						}
					}
				}
			}

			.details {
				right: auto;
				left: 0;

				li {
					display: block;
					text-align: left;
					margin-top: 25px;
					line-height: 1em;

					&:first-of-type {
						margin-top: 0;
					}
				}
			}

			.caption {
				padding-top: 100px;

				h2, h3, p, .fa {
					display: block;
					text-align: center;
				}

				h2 {
					color: #fff;
					font-weight: 900;
					font-size: 5em;
					text-transform: uppercase;
					font-family: 'Open Sans';
					// font-family: 'Copperplate';
				}

				h3 {
					font-size: 3.8em;
					color: rgba(255, 255, 255, .6);
					text-transform: uppercase;
				}

				p {
					font-size: 2em;
					line-height: 1.4em;
					color: rgba(255, 255, 255, .6);
					margin: 0 auto;
					max-width: 500px;
				}

				hr {
					display: block;
					border: 3px solid #fff;
					max-width: 60px;
					margin: 30px auto;
				}

				.fa {
					font-size: 3em;
					color: #fff;
					margin-top: 20px;
				}
			}
		}
	}

	section {
		display: block;
		padding: 100px 0;

		&.story {
			background: #fff;

			h2 {
				font-family: 'Mrs Saint Delafield';
				font-size: 8.5em;
				color: #aaa;
			}

			h3, h4 {
				font-weight: bold;
				font-size: 4em;
				font-family: 'Open Sans';
				text-transform: uppercase;
			}

			h4 {
				font-size: 2.6em;
				margin-top: 20px;
			}

			hr {
				display: block;
				border: 3px solid #333;
				max-width: 60px;
				margin: 20px auto;
			}

			p {
				font-size: 1.8em;
				line-height: 1.6em;
				color: #aaa;
				margin-top: 15px;
				padding-right: 20px;
				text-align: justify;
				text-align: center;
			}

			img {
				margin-top: 80px;
			}

			.service {
				margin-top: 100px;

				h4, p {
					text-align: center;
				}

				p {
					margin-top: 10px;
				}

				img {
					display: block;
					max-width: 60%;
					margin: 0 auto;
				}
			}
		}

		&.icons {
			padding: 40px 0;
			text-align: center;

			span {
				font-size: 7em;
				color: #AEA669;
			}

			h2 {
				margin-top: 25px;
				font-size: 2em;
				color: #aaa;
			}
		}
	}

	@media screen and (max-width: 800px) {
		.logo {
			padding-top: 100px;
		}
	}

	@media screen and (max-width: 769px) {
		section.story {
			padding: 30px 0;

			img {
				margin-top: 20px;
			}
		}

		section.new-services {
			padding: 30px 0 0 0;
			margin-bottom: 0;

			.container {
				max-width: 95%;
			}

			h2 {
				font-size: 1.8em;
			}

			h3, a.btn {
				font-size: 1.6em;
			}

			p, hr {
				display: none;
			}
		}

		section.icons {
			display: none;
			padding: 30px 0;

			.item {
				span {
					font-size: 4em;
				}

				h2 {
					font-size: 1.6em;
				}
			}
		}

		section.quote {
			padding: 30px 0;

			img {
				margin: 0 auto;
				display: block;
				max-width: 200px;
			}

			.inner {
				padding-left: 0;

				p {
					text-align: center;
				}

				.row {
					> div {
						.btn {
							margin-bottom: 15px;
						}

						&:last-of-type {
							.btn {
								margin-bottom: 0;
							}
						}
					}
				}

				// .btn {
				// 	margin-bottom: 15px;

				// 	&:last-of-type {
				// 		margin-bottom: 0;
				// 	}
				// }
			}
		}

		.social {
			right: 20px !important;
		}

		.caption {
			padding-top: 30px !important;

			h2, h3 {
				display: none !important;
			}
		}
	}

	@media screen and (max-width: 650px) {
		.main-nav {
			li {
				a {
					height: 40px;
					line-height: 40px;
				}
			}
		}
	}
}