.page-contact {
	.contact-methods {
		font-size: 1.6em;
		line-height: 1.8em;
		text-align: left;
		padding: 50px 0;

		h3 {
			text-transform: uppercase;
			text-align: left;
			font-size: 1.1em;
			margin-top: 25px;

			span {
				margin-right: 10px;
			}
		}

		.row .row {
			> div:first-of-type {
				h3 {
					margin-top: 0;
				}
			}
		}

		p {
			margin: 10px 0 0 0;
			font-size: 1em;
			text-align: left;
			color: #aaa;
		}

		.btn {
			margin-top: 15px;
		}

		form {
			padding: 30px 20px;
			background: #f9f9f9;
			background: map-get($theme-colors, primary);
			background: #241F20;

			.row {
				width: 100%;
				margin: 0;

				.btn {
					margin: 0;
					padding: 10px 20px;
					font-size: 1em;
					background: #AEA669;
					border: none;

					&:hover {
						background: darken(#AEA669, 10%);
					}
				}

				.form-control {
					@include placeholder(#aaa);
					background: #111;
					color: #fff;
					border: none;
					font-size: 1em;
					padding: 12px;
					height: auto;
				}
			}
		}

		p.drop-info {
			@include reset-bounds;
			margin-top: 10px;
			text-align: center;
			display: inline-block;
			margin-left: 15px;
		}
	}

	.map {
		position: relative;
		min-height: 500px;
		border-top: 1px solid #ddd;

		.mapouter {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			.gmap_canvas {
				width: 100%;
				height: 100%;
			}
		}

		.card {
			border-radius: 0 0 5px 5px;
			border-top: none;
		}
	}

	@media screen and (max-width: 769px) {
		.contact-methods {
			padding: 30px 0;
			
			form {
				margin-top: 20px;

				.btn {
					width: 100%;
					float: none;
				}
			}

			h3, p, a {
				display: block;
				text-align: center;
			}

			.row {
				> div:last-of-type {
					br {
						display: none;
					}
				}
			}
		}
	}
}