.page-home {
	.hero.hero-home {
		position: relative;

		.slider {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #000;

			.slide {
				position: absolute;
				display: block;
				opacity: 0;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;

				&.active {
					opacity: 1;
				}
			}

			.slide-1 {
				@include darken-image('/img/hero/dog.jpg', .9);
				background-attachment: fixed;
			}

			.slide-2 {
				@include darken-image('/img/hero/coats.jpg', .9);
				background-attachment: fixed;
			}

			.slide-3 {
				@include darken-image('/img/hero/corporate.jpg', .9);
				background-attachment: fixed;
			}
		}


		.container {
			position: relative;

			.logo {
				display: block;
				width: 200px;
				margin: 0 auto;
			}

			.main-nav {
				text-align: center;
				margin-top: 70px;

				li {
					display: inline-block;

					a {
						text-transform: uppercase;
						color: rgba(255, 255, 255, .5);
						font-size: 1.8em;
						text-decoration: none;
						padding: 0 15px;

						&.active {
							color: #fff;
						}

						&:hover {
							color: #fff;
							transition: all 1s;
						}
					}
				}
			}

			.social, .details {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				text-align: center;

				li {
					display: inline-block;

					a {
						color: rgba(255, 255, 255, .5);
						font-size: 1.8em;
						padding: 0 15px;
						text-decoration: none;

						&:hover {
							color: #fff;
							transition: all 1s;
						}

						&:last-of-type {
							padding-right: 0;
						}
					}
				}
			}

			.details {
				right: auto;
				left: 0;

				li {
					display: block;
					text-align: left;
					margin-top: 25px;
					line-height: 1em;

					&:first-of-type {
						margin-top: 0;
					}
				}
			}

			.caption {
				padding-top: 100px;

				h2, h3, p, .fa {
					display: block;
					text-align: center;
				}

				h2 {
					color: #fff;
					font-weight: 900;
					font-size: 5em;
					text-transform: uppercase;
					font-family: 'Open Sans';
					// font-family: 'Copperplate';
				}

				h3 {
					font-size: 3.8em;
					color: rgba(255, 255, 255, .6);
					text-transform: uppercase;
				}

				p {
					font-size: 2em;
					line-height: 1.4em;
					color: rgba(255, 255, 255, .6);
					margin: 0 auto;
					max-width: 500px;
				}

				hr {
					display: block;
					border: 3px solid #fff;
					max-width: 60px;
					margin: 30px auto;
				}

				.fa {
					font-size: 3em;
					color: #fff;
					margin-top: 20px;
				}
			}
		}
	}

	section {
		display: block;
		padding: 80px 0;

		&.story {
			background: #fff;

			h2 {
				font-family: 'Mrs Saint Delafield';
				font-size: 8.5em;
				color: #aaa;
			}

			h3 {
				font-weight: bold;
				font-size: 4em;
				font-family: 'Open Sans';
				text-transform: uppercase;
				margin-top: -40px;
			}

			p {
				font-size: 1.8em;
				line-height: 1.6em;
				color: #aaa;
				margin-top: 15px;
				padding-right: 20px;
				text-align: justify;
			}

			img {
				margin-top: 80px;
			}
		}

		&.new-services {
			background: #1b1b1b;
			background: url('/img/textures/felt-black.png') repeat;
			margin-bottom: -40px;

			.service {
				margin-bottom: 40px;
			}

			span, h2, h3 {
				display: block;
				text-align: center;
			}

			span {
				font-size: 8em;
				color: #AEA669;
				text-align: center;
				margin: 0 auto;
			}

			h2 {
				display: block;
				font-size: 3em;
				color: #fff;
				font-weight: 900;
				text-transform: uppercase;
				text-align: center;
				font-family: 'Open Sans';
			}

			h3 {
				color: #aaa;
				text-align: center;
				font-size: 3em;
				font-family: 'Open Sans';
				font-weight: 100;
				text-transform: uppercase;
				margin-top: 15px;
			}

			hr {
				display: block;
				max-width: 50px;
				border: 2px solid #333;
				margin: 20px auto;
			}

			p {
				font-size: 1.6em;
				line-height: 1.6em;
				color: #aaa;
				margin-top: 15px;
				// padding-right: 20px;
				text-align: center;
			}

			.btn {
				display: block;
				margin: 20px auto 0 auto;
				max-width: 200px;
				font-size: 1.8em;
				padding: 13px;
				height: auto;
				background: #AEA669;
				border: none;
				font-weight: bold;
				text-transform: uppercase;

				&:hover {
					background: darken(#AEA669, 5%);
				}
			}
		}

		&.services {
			padding: 0;
			height: auto;
			min-height: auto;

			.service-item {
				display: inline-block;
				float: left;
				width: 25%;
				padding: 40px 25px;

				&.service-item-construction {
					@include darken-image('/img/hero/coats.jpg', .7);

					&:hover {
						@include darken-image('/img/hero/coats.jpg', .9);
					}
				}

				&.service-item-entertainment {
					@include darken-image('/img/hero/club.jpg', .7);

					&:hover {
						@include darken-image('/img/hero/club.jpg', .9);
					}
				}

				&.service-item-education {
					@include darken-image('/img/hero/education.jpg', .7);

					&:hover {
						@include darken-image('/img/hero/education.jpg', .9);
					}
				}

				&.service-item-corporate {
					@include darken-image('/img/hero/corporate.jpg', .7);

					&:hover {
						@include darken-image('/img/hero/corporate.jpg', .9);
					}
				}

				h2 {
					display: block;
					font-size: 3em;
					color: #fff;
					font-weight: 900;
					text-transform: uppercase;
					text-align: center;
					font-family: 'Open Sans';
				}

				h3 {
					color: rgba(255, 255, 255, .6);
					text-align: center;
					font-size: 3em;
					font-family: 'Open Sans';
					font-weight: 100;
					text-transform: uppercase;
				}

				hr {
					display: block;
					max-width: 50px;
					border: 2px solid #fff;
					margin: 20px auto;
				}

				p {
					font-size: 1.6em;
					line-height: 1.6em;
					color: #aaa;
					margin-top: 15px;
					padding-right: 20px;
					text-align: center;
				}

				.btn {
					display: block;
					margin: 40px auto 0 auto;
					max-width: 200px;
					font-size: 2em;
					padding: 13px;
					height: auto;
					background: #AEA669;
					border: none;
					font-weight: bold;
					text-transform: uppercase;

					&:hover {
						background: darken(#AEA669, 5%);
					}
				}
			}
		}

		&.quote {
			img {
				border-radius: 100%;
			}

			h2, p {
				text-align: center;
			}

			h2 {
				font-weight: bold;
				text-transform: uppercase;
				font-size: 2.6em;
				margin-top: 15px;
				font-family: 'Open Sans';
			}

			.inner {
				padding-left: 40px;
			}

			p {
				font-size: 2em;
				color: #aaa;
				line-height: 1.6em;

				&.the-quote {
					text-align: left;
					margin-top: 20px;
					font-size: 1.6em;

					&:first-of-type {
						margin-top: 10px;
					}
				}
			}

			.team {
				margin-top: 20px;

				.btn {
					display: block;
					padding: 12px;
					font-size: 1.8em;
					text-transform: uppercase;
					font-weight: 900;
					border: none;

					&.btn-default {
						background: #AEA669;
						color: #fff;

						&:hover {
							background: darken(#AEA669, 10%);
						}
					}

					&.btn-primary {
						background: #222;

						&:hover {
							background: #111;
						}
					}
				}

				p {
					text-align: left;
					font-size: 1.8em;
					margin: 0;
					height: 54px;
					line-height: 54px;
				}
			}
		}

		&.service {
			min-height: 400px;

			&.service-construction {
				@include darken-image('/img/hero/coats.jpg', .8);
			}

			background-attachment: fixed !important;

			span {
				text-align: center;
				font-family: 'Mrs Saint Delafield';
			}

			h2 {
				display: block;
				font-size: 4em;
				color: #fff;
				font-weight: 900;
				text-transform: uppercase;
				text-align: center;
				font-family: 'Open Sans';
			}

			h3 {
				color: rgba(255, 255, 255, .6);
				text-align: center;
				font-size: 4em;
				font-family: 'Open Sans';
				font-weight: 100;
				text-transform: uppercase;
			}

			hr {
				display: block;
				max-width: 50px;
				border: 3px solid #fff;
				margin: 20px auto;
			}

			p {
				font-size: 1.8em;
				line-height: 1.6em;
				color: #aaa;
				margin-top: 15px;
				padding-right: 20px;
				text-align: justify;
			}

			.btn {
				display: block;
				margin: 40px auto 0 auto;
				max-width: 200px;
				font-size: 2em;
				padding: 13px;
				height: auto;
				background: #AEA669;
				border: none;
				font-weight: bold;
				text-transform: uppercase;

				&:hover {
					background: darken(#AEA669, 5%);
				}
			}
		}

		&.icons {
			@include darken-image('/img/hero/sign.jpg', .7);
			background-attachment: fixed;
			padding: 100px 0 50px 0;

			.item {
				text-align: center;
				text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
				margin-bottom: 50px;

				> span {
					font-size: 7em;
					color: #fff;
				}

				h2 {
					font-weight: 900;
					text-transform: uppercase;
					color: #fff;
					font-size: 2em;
					line-height: 1.5em;
					margin: 20px auto 0 auto;
					max-width: 220px;
				}
			}
		}
	}

	@media screen and (max-width: 800px) {
		.logo {
			padding-top: 100px;
		}
	}

	@media screen and (max-width: 769px) {
		section.story {
			padding: 30px 0;

			img {
				margin-top: 20px;
			}
		}

		section.new-services {
			padding: 30px 0 0 0;
			margin-bottom: 0;

			.container {
				max-width: 95%;
			}

			h2 {
				font-size: 1.8em;
			}

			h3, a.btn {
				font-size: 1.6em;
			}

			p, hr {
				display: none;
			}
		}

		section.icons {
			display: none;
			padding: 30px 0;

			.item {
				span {
					font-size: 4em;
				}

				h2 {
					font-size: 1.6em;
				}
			}
		}

		section.quote {
			padding: 30px 0;

			img {
				margin: 0 auto;
				display: block;
				max-width: 200px;
			}

			.inner {
				padding-left: 0;

				p {
					text-align: center;
				}

				.row {
					> div {
						.btn {
							margin-bottom: 15px;
						}

						&:last-of-type {
							.btn {
								margin-bottom: 0;
							}
						}
					}
				}

				// .btn {
				// 	margin-bottom: 15px;

				// 	&:last-of-type {
				// 		margin-bottom: 0;
				// 	}
				// }
			}
		}

		.social {
			right: 20px !important;
		}

		.caption {
			padding-top: 30px !important;

			h2, h3 {
				display: none !important;
			}
		}
	}

	@media screen and (max-width: 650px) {
		.main-nav {
			li {
				a {
					height: 40px;
					line-height: 40px;
				}
			}
		}
	}
}