.page-join-the-team {
	.team-form {
		padding: 100px 0;

		.intro {
			h2 {
				font-size: 2.3em;
				font-weight: bold;
			}

			p {
				font-size: 1.8em;
				line-height: 1.8em;
				color: #aaa;
				margin-top: 10px;
				text-align: justify;
			}
		}

		form {
			margin-left: 20px;
			margin-top: 40px;
			padding: 30px;
			background: #241F20;

			.form-control {
				@include placeholder(#aaa);
				display: block;
				font-size: 1.6em;
				padding: 12px;
				height: auto;
				margin-bottom: 20px;
				margin-top: 5px;
				background: #111;
				border: none;
				color: #fff;
				border-radius: 0;
			}

			textarea.form-control {
				height: 130px;
			}

			select.form-control {
				height: 49px;
			}

			label {
				display: none;
				font-size: 1.4em;
				line-height: 1.4em;
				font-weight: 100;
				color: #aaa;
				text-transform: uppercase;
			}

			.attach-cv {
				display: block;
				font-size: 1.6em;
				padding: 0 12px;
				margin-bottom: 20px;
				margin-top: 5px;
				background: #111;
				color: #aaa;
				height: 49px;
				line-height: 49px;
				text-decoration: none;

				&:hover {
					background: #AEA669;
					color: #fff;
				}
			}

			.btn {
				font-size: 1.6em;
				padding: 10px 20px;
				float: left;
				background: #AEA669;
				border: none;

				&:hover {
					background: darken(#AEA669, 10%);
				}
			}

			p.drop-info {
				@include reset-bounds;
				font-size: 1.6em;
				text-align: left;
				color: #aaa;
				text-align: center;
				display: inline-block;
				margin-left: 15px;
				height: 47px;
				line-height: 47px;
			}
		}
	}

	@media screen and (max-width: 769px) {
		.team-form {
			padding: 30px;
			
			form {
				margin-left: 0;

				.btn {
					display: block;
					float: none;
					width: 100%;
				}

				p.drop-info {
					line-height: 1.6em;
					height: auto;
					margin-top: 15px;
				}
			}
		}
	}
}