.page-meet-the-team {
	.the-team {
		padding: 100px 0;

		.team-member {
			img {
				display: block;
				border-radius: 100%;
				max-width: 200px;
				margin: 0 auto;
			}

			h2, h3, p {
				text-align: center;
			}

			h2 {
				font-weight: bold;
				font-size: 2em;
				text-transform: uppercase;
				margin-top: 20px;
			}

			h3 {
				font-weight: 100;
				color: #aaa;
				font-size: 1.8em;
			}

			p {
				font-size: 1.6em;
				line-height: 1.6em;
				margin-top: 10px;
				color: #aaa;
				font-style: italic;
			}

			.social {
				display: block;
				text-align: center;
				margin-top: 15px;

				li {
					display: inline-block;

					a {
						display: block;
						padding: 0 10px;
						font-size: 2.2em;
						color: #aaa;

						&:hover {
							color: #AEA669;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 760px) {
		.the-team {
			padding: 30px 0;

			.row {
				> div {
					margin-bottom: 30px;

					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}