.page-services {
	.container {
		max-width: 900px;
	}

	.services {
		display: block;
		padding: 50px 0;

		ul {
			@include reset-bounds;
			text-align: center;

			li {
				display: inline-block;

				a {
					display: block;
					font-size: 1.8em;
					font-weight: 100;
					color: #aaa;
					text-transform: uppercase;
					padding: 0 15px;
					text-decoration: none;

					&.active, &:hover {
						color: #222;
					}
				}
			}
		}

		.service-list {
			margin-top: 50px;

			// .service {
			// 	margin-bottom: 30px;
			// 	background: #fff;
			// 	border: 1px solid #ddd;

			// 	.content {
			// 		padding: 20px;

			// 		h2 {
			// 			font-weight: 900;
			// 			font-family: 'Open Sans';
			// 			text-transform: uppercase;
			// 			font-size: 2.2em;

			// 			small {
			// 				color: #aaa;
			// 			}
			// 		}

			// 		h3 {
			// 			font-size: 1.7em;
			// 			color: #aaa;
			// 			text-transform: uppercase;
			// 			margin-top: 5px;
			// 		}

			// 		p {
			// 			margin-top: 10px;
			// 			line-height: 1.7em;
			// 			font-size: 1.6em;
			// 			color: #aaa;
			// 			text-align: justify;
			// 		}
			// 	}
			// }
			
			.service {
				background: #fff;
				// border: 1px solid #ddd;
				margin-bottom: 30px;
				box-shadow: 0 0 1px 1px rgba(0, 0, 0, .03);

				img {
					max-width: 40%;
					float: left;
				}

				.info {
					width: 60%;
					float: right;
					padding: 20px 30px;

					h2 {
						font-size: 1.9em;
						font-weight: 900;
						text-transform: uppercase;
						// text-align: center;
					}

					p {
						font-size: 1.7em;
						line-height: 1.6em;
						color: #aaa;
						text-align: justify;
						margin-top: 10px;
					}
				}

				// &:nth-of-type(even) {
				// 	img {
				// 		float: right;
				// 	}

				// 	.info {
				// 		float: left;
				// 	}
				// }
			}
		}
	}

	@media screen and (max-width: 769px) {
		.services {
			ul {
				li {
					a {
						height: 40px;
						line-height: 40px;
					}
				}
			}

			.service-list {
				.service {
					img, .info {
						display: block;
						width: 100%;
						max-width: 100%;
						float: none;
					}

					p {
						text-align: left !important;
					}
				}
			}
		}
	}
}

.page-services-masonry {
	.services {
		padding: 50px 0;
		background: #eee;

		>.container {
			max-width: 850px;
		}

		.list-group {
			font-size: 1.6em;
			border: 1px solid #ddd;

			.list-group-item {
				padding: 20px 15px;
				height: auto;
				border: none;
				border-bottom: 1px solid #ddd;
				margin: 0;
				color: #aaa;

				&:hover {
					background: #eee;
				}

				&.active {
					background: #AEA669;
					color: #fff;
				}

				&:last-of-type {
					border-bottom: none;
				}
			}
		}

		.service {
			background: #fff;
			// border: 1px solid #ddd;
			margin-bottom: 30px;
			box-shadow: 0 0 1px 1px rgba(0, 0, 0, .03);

			img {
				max-width: 40%;
				float: left;
			}

			.info {
				width: 60%;
				float: right;
				padding: 20px 30px;

				h2 {
					font-size: 1.9em;
					font-weight: 900;
					text-transform: uppercase;
					// text-align: center;
				}

				p {
					font-size: 1.7em;
					line-height: 1.6em;
					color: #aaa;
					text-align: justify;
					margin-top: 10px;
				}
			}

			&:nth-of-type(even) {
				img {
					float: right;
				}

				.info {
					float: left;
				}
			}
		}
	}
}