body, html {
	font-size: 10px;
	line-height: 0.8em;

	h1, h2, h3, h4, h5, h6, p, ul {
		@include reset-bounds;
	}

	.container {
		max-width: 90%;
	}

	@media screen and (max-width: 769px) {
		.container {
			max-width: 100%;
		}
	}
}