@font-face {
    font-family: 'Copperplate';
    src: url('/fonts/copperplate.woff2') format('woff2'),
         url('/fonts/copperplate.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}