@import url('https://fonts.googleapis.com/css?family=Nunito:400,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,800');
@import url('https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield');
@import 'variables';
@import 'mixins';
@import 'fonts';
@import '~bootstrap/scss/bootstrap';
@import 'base';
@import 'vendor/animate';

// Components
@import 'components/hero';
@import 'components/footer';
@import 'components/fixed-footer';
@import 'components/header';
@import 'components/page-title';
@import 'components/slide-menu';

// Pages
@import 'pages/home';
@import 'pages/services';
@import 'pages/join-the-team';
@import 'pages/meet-the-team';
@import 'pages/contact';
@import 'pages/cctv';