.fixed-footer {
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #AEA669;
	background: rgba(174, 166, 105, .9);

	ul {
		display: block;
		text-align: center;

		li {
			display: inline-block;

			a {
				display: block;
				color: #fff;
				color: rgba(255, 255, 255, .6);
				font-size: 1.8em;
				padding: 25px 15px;
				text-transform: uppercase;

				&.active {
					color: #fff;
				}

				&:hover {
					text-decoration: none;
					color: #fff;
				}
			}
		}
	}

	@media screen and (max-width: 769px) {
		display: none !important;
	}
}