footer {
	display: block;
	background: #141414;
	padding-bottom: 110px;

	.item {
		margin-bottom: 40px;
	}

	img {
		display: block;
		max-width: 150px;
		margin: 50px auto 0 auto;
	}

	p {
		text-align: center;
		font-size: 1.6em;
		color: #fff;
		margin-top: 50px;
		font-family: 'Open Sans';
		font-weight: 100;
		color: #aaa;
		letter-spacing: 1px;
	}

	.top {
		background: #1c1c1c;
		padding: 50px 0 10px 0;

		h2, p {
			text-align: center;
		}

		h2 {
			font-size: 2.4em;
			text-transform: uppercase;
			font-weight: bold;
			font-family: 'Open Sans';
			color: #fff;
		}

		p {
			margin-top: 10px;
			line-height: 1.8em;
		}

		.social {
			margin-top: 40px;
			text-align: center;

			li {
				display: inline-block;

				a {
					color: rgba(255, 255, 255, .7);
					font-size: 4em;
					padding: 0 10px;

					&:hover {
						color: #fff;
					}
				}
			}
		}
	}

	@media screen and (max-width: 769px) {
		padding-bottom: 50px;
		padding-top: 50px;

		.top {
			display: none;
		}

		img {
			margin-top: 0;
		}
	}
}