header {
	display: block;
	padding: 30px 0;
	background: #1c1c1c;

	img {
		height: 50px;
	}

	ul {
		float: right;

		li {
			display: inline-block;

			a {
				display: block;
				color: #aaa;
				font-size: 1.6em;
				text-transform: uppercase;
				height: 50px;
				line-height: 50px;
				padding: 0 10px;
				text-decoration: none;

				&.active, &:hover {
					color: #fff;
					text-decoration: none;
				}

				&:hover {
					transition: color 2s;
				}
			}
		}
	}

	@media screen and (max-width: 850px) {
		img {
			display: block;
			margin: 0 auto;
		}

		ul {
			display: block;
			float: none;
			text-align: center;
			margin-top: 20px;
		}
	}
}

.post-header {
	display: block;
	background: #141414;

	.info, .social {
		float: left;

		li {
			display: inline-block;
			font-size: 1.6em;
			color: #aaa;
			margin-right: 20px;
			height: 50px;
			line-height: 50px;

			a, a span {
				display: block;
				color: #aaa;
				height: 50px;
				line-height: 50px;
				text-decoration: none;

				&:hover {
					color: #fff;
				}
			}
		}
	}

	.social {
		float: right;

		li {
			margin-right: 0;
			margin-left: 20px;
		}
	}

	@media screen and (max-width: 769px) {
		.info {
			display: block;
			float: none;

			li:last-of-type {
				float: right;
				margin-right: 0;
			}
		}

		.social {
			display: block;
			float: none;
			text-align: center;

			li {
				display: inline-block;
				float: none;
			}
		}
	}
}