.page-title {
	display: block;
	padding: 100px 0;
	background: #111;
	border-bottom: 5px solid #AEA669;
	border-top: 5px solid #AEA669;

	h2, p {
		text-align: center;
	}

	h2 {
		text-transform: uppercase;
		font-weight: 900;
		font-size: 3em;
		color: #fff;
		font-family: 'Open Sans';
	}

	p {
		font-size: 2em;
		color: rgba(255, 255, 255, .7);
		max-width: 500px;
		margin: 10px auto 0 auto;
		line-height: 1.5em;
	}
}

.page-services .page-title, .page-services-masonry .page-title {
	@include darken-image('/img/hero/services.jpg', .7);
	background-attachment: fixed;
}

.page-join-the-team .page-title {
	@include darken-image('/img/hero/coats.jpg', .7);
	background-attachment: fixed;	
}

.page-meet-the-team .page-title {
	@include darken-image('/img/hero/team.jpg', .7);
	background-attachment: fixed;	
}

.page-contact .page-title {
	@include darken-image('/img/hero/contact.jpg', .7);
	background-attachment: fixed;	
}