#slide-menu {
	padding: 30px 40px;
	background: #222;
	width: 280px;
	z-index: 995;

	ul {
		@include reset-bounds;
		display: block;

		li {
			display: block;

			a {
				display: block;
				font-size: 1.3em;
				color: #aaa;
				padding: 15px 0;

				span {
					margin-right: 5px;
				}

				&.active {
					color: #fff;
				}

				.badge {
					background: map-get($theme-colors, primary);
					margin-left: 10px;
					font-size: 0.8em;
				}
			}

			&.volume {
				margin-top: 40px;
				font-size: 0.7em;
				text-transform: uppercase;
			}
		}
	}

	.mute-volume {
		display: block;
		margin: 40px 0 0 0;

		span {
			font-size: 2.6em;
			color: #aaa;
		}
	}
}

#content {
	position: relative;
	z-index: 9999;
	touch-action: none;
}

body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
